@import url('https://fonts.cdnfonts.com/css/google-sans');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Product Sans Medium', sans-serif;
    line-height: 1.6 ; /* space bt two lines*/
    color: black;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0);
    z-index: 1000; /* it will come infront of video*/

}
nav{
    display: flex; /* moving next to one another */
    width: 1200px;
    margin: 0 auto;  /* top is 0 and for center is auto */
    justify-content: space-between; /* giving space bt img and content */
    align-items: center;
    padding: 20px 20px;
}
.nav-links a{
    position: relative;
    color: white;
    text-decoration: none; /* resmove the color and underline in  link */
    margin-right: 20px;
    font-weight: 900;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
}
.nav-links a:hover{
    background-color: green;
}
.nav-links a:hover::after{
    content:" ";/* this is for underline */
    position: absolute;
    width: 100%; /* this is for line */
    height: 2px;
    background-color: red;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.4s ease;   
}
.nav-links a:hover::after{
    transform: scaleX(1); /* for line */
}
.hero{ /* for video */
    position: relative;
    min-height: 750px; /* it will manage the content also instead using height use min height */
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-content{ /* for text*/
    position: relative;
    z-index: 1; /* comes infront of video */
    text-align: center;
    color:  black;
    padding: 20px;
}
.background-video{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* it will cover the whole space */
    z-index:1; /* conent will come front on video */
}
.hero h1{
    font-size: 70px;
    margin-bottom: 10px;
    font-weight: 700;
    text-shadow: red;
}
.hero p{
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: 400;
    color: black;
    text-shadow: gray;
}
.btn{
    background-color: black;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 40px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}
.projects{
    text-align: center;
    padding: 10px 40px;
    max-width:1200px;
    margin: 0 auto;
    font-size: 30px;
}

.section-title{
    padding: 10px 40px;
    max-width: 1200px;
    margin: 0 auto;
}
.projects-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:25px;
}
.project-img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.project-content{
    padding: 10px;
    color: black;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(150, 123, 123);
    border-radius: 0 0 10px 10px;
}
.project-title{
    font-size: 20px;
    margin-bottom: 15px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.project-title + p{
    font-size: 12px;
}
.project-card{
    flex: 1 1 300px;
    max-width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid rgb(156, 70, 70);
    display: flex;
    flex-direction: column;
}
.project-card:hover{
    transform: scale(0.9);
    box-shadow: 0 0 20px rgb(173, 94, 94), 0 0 40px rgb(173, 94, 94);
}
.skills{
    background-color: rgb(199, 119, 119); 
    padding: 30px ;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.section-title{
    text-align: center;
    padding: 10px 40px;
    max-width:1200px;
    margin: 0 auto;
    font-size: 30px;
}

.skills-container{
    max-width: 1200px;
    margin: 0 auto;
}
.skills-container h2{
    background:  black;
    background-clip: text;
    color: transparent;
}
.skills-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px ;
}
.skill-img{
    background-color: white;
    height: 70px;
    width: 90px;
}
.skills-item{
    display: flex;
    flex-wrap: wrap; /* move to next line if that line is full */
    justify-content: center;
    gap: 1rem;
    /* width: 500px;
    border: 2px solid rgb(214, 209, 209);
    border-radius: 10px;
    padding: 0.5em; */
}
.skills-title{
    font-size: 20px;
    letter-spacing: -0.01em;
}
.skills-description{
    font-size: 1rem;
    max-width: 40ch;
    margin: 1em auto;
}
.content{
    padding: 30px;
}

.footer-section {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-section h3 {
    margin-bottom: 15px;
}

/* Social link container */
.social-links {
    margin: 10px 0;
}

/* Anchor tag */
.social-links a {
    text-decoration: none;
    color: white;
}

/* Image styling */
.footer-img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
}

/* Hover effect */
.social-links a:hover {
    opacity: 0.7;
}


